@page "/password"
@using OpenEvaluation.Helpers

<h3>Change Password</h3>

<fieldset class="form-group">
    <div class="form-group">
        <label>Current password</label>
        <input class="form-control" type="password" @bind="CurrentPassword" />
    </div>
    <div class="form-group">
        <label>New password</label>
        <input class="form-control" type="password" @bind="NewPassword" />
    </div>
    <div class="form-group">
        <label>Repeat new password</label>
        <input class="form-control" type="password" @bind="RepeatNewPassword" />
    </div>
    <button type="submit" class="btn btn-primary" @onclick="UpdatePassword">Update</button>
    <p class="text-warning">@Warning</p>
</fieldset>

@code {
    string CurrentPassword { get; set; }
    string NewPassword { get; set; }
    string RepeatNewPassword { get; set; }
    string Warning { get; set; }

    void UpdatePassword()
    {
        if (UserService.IsLogin == false)
        {
            Warning = "Login first.";
            return;
        }
        if (CurrentPassword != UserService.Password)
        {
            Warning = "Current password is not correct.";
            return;
        }
        if (NewPassword != RepeatNewPassword)
        {
            Warning = "New passwords are not match.";
            return;
        }
        UserService.CurrentUser.Password = Md5.GetMd5(UserService.UserId + NewPassword);
        Db.SaveChanges();
        UserService.IsLogin = false;
        UserService.Password = "";
        Navigation.NavigateTo("/", true);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (UserService.IsLogin == false)
        {
            Navigation.NavigateTo("/", true);
        }
        base.OnAfterRender(firstRender);
    }

}
