@inherits LayoutComponentBase
@inject AuthenticationStateProvider Authentication

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a herf="/" @onclick="() => ((AuthenticationService)Authentication).Logout()">Logout</a>
            </Authorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<BlazoredToasts />