@inherits LayoutComponentBase
@inject AuthenticationStateProvider Authentication

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a class="nav-link" @onclick="Logout">Logout</a>
            </Authorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<BlazoredToasts />

@code
{
    void Logout()
    {
        ((AuthenticationService) Authentication).Logout();
        Navigation.NavigateTo("/",true);
    }
}
