@page "/homework"
@page "/homework/{HomeworkId}"
@page "/homework/score/{SubmitId}"
@attribute [Authorize(Roles = "Student")]

<h3>Homework</h3>




@code {
    [Parameter]
    public string SubmitId { get; set; }

    [Parameter]
    public string HomeworkId { get; set; }
}
